/////////////////
// VARIABLES 
/////////////////

@import "grid";  

$bg-color: rgb( 245, 240, 230 ); 
$highlight-color: rgb( 61, 115, 119 ); // rgb( 61, 132, 145 ); 
$sub-text: white; 
$body-text: black; 


.container {
    @include container();
}

nav {
    height: 100px; 
    background-color: red; 
    display: table;
    width: 100%; 

    ul {
        display: table-cell; 
        vertical-align: middle;
        text-align: center; 
        
        li {

            a {
                text-decoration: none; 
                color: $sub-text; 
            }
        }
    }
}

.pages {
    height: 100vh; 
    background-color: rgba( 150, 200, 250, 0.32 ); 
    border: 5px solid white; 
}