/////////////////
// VARIABLES 
/////////////////

@import "grid";  

$bg-color: rgb( 245, 240, 230 ); 
$highlight-color: rgb( 61, 115, 119 ); // rgb( 61, 132, 145 ); 
$sub-text: white; 
$body-text: black; 



/////////////////
// MIXINS 
/////////////////

%cover {
    height: 100vh;  
    background-repeat: no-repeat;
    background-position: center; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


// Container / Base Styles
.container {
    @include container();
}


// Navigation Styles
nav {
    height: 100px; 
    background-color: rgba( 0, 0, 0, 0.3 ); 
    display: table;
    width: 100%; 
    position: fixed; 

    ul {
        display: table-cell; 
        vertical-align: middle;
        text-align: center; 

        li {

            a {
                text-decoration: none; 
                color: $sub-text; 
            }
        }
    }
}


// Index Section / Page Styles
.pages {
    @extend %cover; 
}

.intro {
    background-image: url( '../images/realize.jpeg' );
}