// need to figure out the best way to break up the view points
// mobile.portrait, mobile.landscape
// tablet.portrait, tablet.landscape
// desktop, tv

// TODO
// ask if they would want to see responsivenes on the desktop. 

// mobile hide long nav

.px-240, 
.px-320,
.px-480 {

    .long-nav ul:not(#logo) {
        display: none; 
    }

    .section-header {
        line-height: 40px; 
        font-size: 200%;
        padding: 40px 40px 0px 40px;
        margin-bottom: 40px;
    }

    .realize .section-header {
        padding: 40px; 
    }

    .link > a { 
        font-size: 14px;
    }
}

.px-240, 
.px-320 {

    .section-header {
        font-size: 150%; 
    }
}

.px-640 {

    .section-header {
        font-size: 250%; 
    }
}


.px-720 {

    .section-header {
        font-size: 300%; 
    }
}


.px-960 {

    .section-header {
        font-size: 350%; 
    }
}

.px-1280 {

    .section-header {
        font-size: 400%; 
    }
}



//['240', '320', '480', '640', '720', '960', '1280'
