
///////////////////////////////////////////////////
// NOTES ** please read every day 
///////////////////////////////////////////////////
%responsive-text {
    // get FlowType.JS for responsive text if necessary
    // http://simplefocus.com/flowtype/
}
///////////////////////////////////////////////////


/////////////////
// VARIABLES 
/////////////////

@import "grid";  
@import "responsive"; 

$bg-color: rgb( 245, 240, 230 ); 
$highlight-color: rgb( 61, 115, 119 ); // rgb( 61, 132, 145 ); 
$sub-text: white; 
$body-text: black; 


// Type
$light-shadow: 4px 4px rgba( 0, 0, 0, 0.09);
$header-padding: 40px 40px 0px 40px;  
$link-padding: 10px 30px; 
/////////////////
// MIXINS 
/////////////////


%cover {
    height: 100vh;  
    background-repeat: no-repeat;
    background-position: center; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


// Fonts
@font-face {
    font-family: "Gotham Light";
    src: url('../fonts/Gotham-Light.otf');
}

@font-face {
    font-family: "Gotham Book";
    src: url('../fonts/Gotham-Book.otf');
}

@font-face {
    font-family: "Gotham Medium";
    src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
    font-family: "Gotham Bold";
    src: url('../fonts/Gotham-Bold.otf');
}

// Container / Base Styles
.container {
    font-family: "Gotham Book";
    @include container();
}



// Navigation Styles
.long-nav {
    height: 100px; 
    background-color: rgba( 0, 0, 0, 0.3 ); 
    display: table;
    width: 100%; 
    position: fixed; 

    ul {
        display: table-cell; 
        vertical-align: middle;
        text-align: center; 
        width: 20%; // unless we change the number of elements ugh

        li {

            a {
                text-decoration: none; 
                color: $sub-text; 
            }
        }
    }
}

.link > a {
    color: white; 
    text-decoration: none;
    border: 1px solid white;
    padding: $link-padding; 
    text-transform: uppercase; 
}

.link > a:hover {
    background-color: white; 
    color: rgba(0, 0, 0, 0.5);
}


#logo {
    img {
        width: 70px; 
    }
}

// Index Section / Page Styles
.pages {
    @extend %cover; 
}

.realize {
    background-image: url( '../images/realize.jpeg' );
}

.distribution {
    background-image: url( '../images/distribution.jpg' );
}

.logistics {
    background-image: url( '../images/logistics.jpg' );
}

.grow {
    background-image: url( '../images/grow.JPG' );
}



.content {
    display: table;
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    text-align: center;

    .center {
        display: table-cell;
        vertical-align: middle; 
        color: white; 

        .section-header {
            font-family: "Gotham Medium";
            text-shadow: $light-shadow; 
            width: auto;
            margin: 0 auto;
            font-size: 200%;
            text-transform: uppercase;
        }

        .section-sub-header {
            font-family: "Gotham Light"; 
            margin-bottom: 50px; 
            text-shadow: $light-shadow; 
        }
    }
}


// Footer Styles
footer {
    background-color: $highlight-color; 
    height: 50px;
    text-align: center;
    color: white; 
    padding-top: 10px; 
}