/**
 * Profound Grid
 * 
 * Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts, 
 * relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.
 * 
 * The biggest difference to other grid systems is the use of negative margins for column
 * placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts
 * in some browsers.
 * 
 * Nested columns are supported too, without having to reset the grid on each level. 
 *
 * Credits/Inspiration:
 * -------------------
 * Semantic Grid: http://www.semantic.gs
 * Susy: http://susy.oddbird.net
 * Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/
 *
 * @author Profound Creative Studio
 * @url http://www.profoundgrid.com
 * @url http://www.weareprofound.com 
 */
/**
 * Clearfix
 */
/**
 * Legacy Clearfix
 */
/**
 * Establish the grid-containing element.
 */
/**
 * Align an element to the grid.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
/* line 14, ../sass/_responsive.scss */
.px-240 .long-nav ul:not(#logo),
.px-320 .long-nav ul:not(#logo),
.px-480 .long-nav ul:not(#logo) {
  display: none;
}
/* line 18, ../sass/_responsive.scss */
.px-240 .section-header,
.px-320 .section-header,
.px-480 .section-header {
  line-height: 40px;
  font-size: 200%;
  padding: 40px 40px 0px 40px;
  margin-bottom: 40px;
}
/* line 25, ../sass/_responsive.scss */
.px-240 .realize .section-header,
.px-320 .realize .section-header,
.px-480 .realize .section-header {
  padding: 40px;
}
/* line 29, ../sass/_responsive.scss */
.px-240 .link > a,
.px-320 .link > a,
.px-480 .link > a {
  font-size: 14px;
}

/* line 36, ../sass/_responsive.scss */
.px-240 .section-header,
.px-320 .section-header {
  font-size: 150% !important;
  background-color: blue;
}

/* line 34, ../sass/base.scss */
.pages {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/Gotham-Light.otf");
}
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-Book.otf");
}
@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/Gotham-Medium.otf");
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham-Bold.otf");
}
/* line 68, ../sass/base.scss */
.container {
  font-family: "Gotham Book";
  width: 100%;
  margin: 0 0;
}

/* line 76, ../sass/base.scss */
.long-nav {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  display: table;
  width: 100%;
  position: fixed;
}
/* line 83, ../sass/base.scss */
.long-nav ul {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 20%;
}
/* line 91, ../sass/base.scss */
.long-nav ul li a {
  text-decoration: none;
  color: white;
}

/* line 99, ../sass/base.scss */
.link > a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 30px;
  text-transform: uppercase;
}

/* line 107, ../sass/base.scss */
.link > a:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

/* line 114, ../sass/base.scss */
#logo img {
  width: 70px;
}

/* line 124, ../sass/base.scss */
.realize {
  background-image: url("../images/realize.jpeg");
}

/* line 128, ../sass/base.scss */
.distribution {
  background-image: url("../images/distribution.jpg");
}

/* line 132, ../sass/base.scss */
.logistics {
  background-image: url("../images/logistics.jpg");
}

/* line 136, ../sass/base.scss */
.grow {
  background-image: url("../images/grow.JPG");
}

/* line 142, ../sass/base.scss */
.content {
  display: table;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  text-align: center;
}
/* line 149, ../sass/base.scss */
.content .center {
  display: table-cell;
  vertical-align: middle;
  color: white;
}
/* line 154, ../sass/base.scss */
.content .center .section-header {
  font-family: "Gotham Medium";
  text-shadow: 4px 4px rgba(0, 0, 0, 0.09);
  width: auto;
  margin: 0 auto;
  font-size: 200%;
  text-transform: uppercase;
}
/* line 163, ../sass/base.scss */
.content .center .section-sub-header {
  font-family: "Gotham Light";
  margin-bottom: 50px;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.09);
}

/* line 173, ../sass/base.scss */
footer {
  background-color: #3d7377;
  height: 50px;
  text-align: center;
  color: white;
  padding-top: 10px;
}
